<div id="header">
    <a id="logo" href="/">
        <img src="/images/logo.png">
        <span><%- site.data.tsc.product_name %> <%- site.data.tsc.product_version %></span>
        <span style="font-size: 60%; opacity: .7; margin-left: .5em;"> by Top Shelf Craft</span>
    </a>
    <ul id="nav">
        <%- partial('partials/main_menu') %>
    </ul>
</div>
