// font faces
$body-font = 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$logo-font = 'Lato', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$code-font = 'Roboto Mono', Monaco, courier, monospace

// font sizes
$body-font-size = 15px
$code-font-size = .8em

// colors
$dark   = #2c3e50
$medium = #34495e
$light  = #7f8c8d
$brand  = #42b983
$border = #dddddd
$code = #113355
$codebg = #f8f8f8
$brand = #d80
$craft = #b24525
$red = #ff6666
$green = #117777

// misc
$radius = 2px
